<h2>{{ 'privacy-component.title' | translate }}</h2>
<p>{{ 'privacy-component.content-intro-1' | translate:corporation }}</p>
<p>{{ 'privacy-component.content-intro-2' | translate }}</p>
<p>{{ 'privacy-component.content-intro-3' | translate }}</p>
<ol>
  <li>
    <span class="h3">{{ 'privacy-component.title-information' | translate }}</span>
    <ol>
      <li>{{ 'privacy-component.content-information-li-1' | translate }}</li>
      <li>{{ 'privacy-component.content-information-li-2' | translate }}</li>
      <li>{{ 'privacy-component.content-information-li-3' | translate }}</li>
      <li>{{ 'privacy-component.content-information-li-4' | translate }}</li>
    </ol>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-cookies' | translate }}</span>
    <p>{{ 'privacy-component.content-cookies-1' | translate }}</p>
    <p>{{ 'privacy-component.content-cookies-2' | translate }}</p>
    <ol>
      <li>{{ 'privacy-component.content-cookies-li-1' | translate }}</li>
      <li>{{ 'privacy-component.content-cookies-li-2' | translate }}</li>
      <li>{{ 'privacy-component.content-cookies-li-3' | translate }}</li>
      <li>{{ 'privacy-component.content-cookies-li-4' | translate }}</li>
    </ol>
    <p>{{ 'privacy-component.content-cookies-3' | translate }}</p>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-personal-data' | translate }}</span>
    <p>{{ 'privacy-component.content-personal-data-1' | translate }}</p>
    <p>{{ 'privacy-component.content-personal-data-2' | translate }}</p>
    <p>{{ 'privacy-component.content-personal-data-3' | translate }}</p>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-personal-data-use' | translate }}</span>
    <p>{{ 'privacy-component.content-personal-data-use-1' | translate }}</p>
    <ol>
      <li>{{ 'privacy-component.content-personal-data-use-li-1' | translate }}</li>
      <li>{{ 'privacy-component.content-personal-data-use-li-2' | translate }}</li>
      <li>{{ 'privacy-component.content-personal-data-use-li-3' | translate }}</li>
      <li>{{ 'privacy-component.content-personal-data-use-li-4' | translate }}</li>
      <li>{{ 'privacy-component.content-personal-data-use-li-5' | translate }}</li>
    </ol>
    <p>{{ 'privacy-component.content-personal-data-use-2' | translate }}</p>
    <p>{{ 'privacy-component.content-personal-data-use-3' | translate }}</p>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-spread-information' | translate }}</span>
    <p>{{ 'privacy-component.content-spread-information' | translate }}</p>
    <ol>
      <li>{{ 'privacy-component.content-spread-information-li-1' | translate }}</li>
      <li>{{ 'privacy-component.content-spread-information-li-2' | translate }}</li>
    </ol>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-rights' | translate }}</span>
    <p>{{ 'privacy-component.content-rights' | translate }}</p>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-data-access' | translate }}</span>
    <p>{{ 'privacy-component.content-data-access' | translate }}</p>
  </li>
  <li>
    <span class="h3">{{ 'privacy-component.title-privacy-changes' | translate }}</span>
    <p>{{ 'privacy-component.content-privacy-changes' | translate }}</p>
  </li>
</ol>