<div class="row">
  <div *ngIf="hasConfirmed" class="col-md-5">
    <div class="alert alert-success" role="alert">
      <strong>{{ 'authentication-component.confirmation-one' | translate }}</strong> <br />
      <span>{{ 'authentication-component.confirmation-two' | translate }}</span>
    </div>
  </div>
</div>
<div class="row">  
  <form class="col-md-5" [formGroup]="authForm">
    <div class="form-group">
        <label for="username">{{ 'authentication-component.email-address' | translate }}</label>
        <input type="email" class="form-control" id="username" placeholder="name@example.com" formControlName="username"/>
    </div>
    <div class="form-group">
        <label for="password">{{ 'authentication-component.password' | translate }}</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" (keyup.enter)="onSignIn()"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" (click)="onSignIn()">{{ 'authentication-component.sign-in' | translate }}</button>
        <a *ngIf="!hasConfirmed" [routerLink]="['/signup']">{{ 'authentication-component.sign-up' | translate }}</a>
    </div>
  </form>  
</div>
<div *ngIf="failureReason !== 0" class="row">
  <div class="col-md-5">
    <div class="alert alert-danger" role="alert">
      <span [ngSwitch]="failureReason">
          <ng-container *ngSwitchCase="-1">{{ 'authentication-component.failure-reason-one' | translate }}</ng-container>
          <ng-container *ngSwitchCase="1">{{ 'authentication-component.failure-reason-two' | translate }}</ng-container>
          <ng-container *ngSwitchCase="2">{{ 'authentication-component.failure-reason-tree' | translate }}</ng-container>
      </span>
    </div>
  </div>
</div>