<h2>{{ 'terms-component.title' | translate }}</h2>
<p>{{ 'terms-component.content-introduction' | translate }}</p>
<ol>
  <li>
    <span class="h3">{{ 'terms-component.title-intellectual-rights' | translate }}</span>
    <p>{{ 'terms-component.content-intellectual-rights' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-restrictions' | translate }}</span>
    <p>{{ 'terms-component.content-restrictions-1' | translate }}</p>
    <ol>
      <li>{{ 'terms-component.content-restrictions-li-1' | translate }}</li>
      <li>{{ 'terms-component.content-restrictions-li-2' | translate }}</li>
      <li>{{ 'terms-component.content-restrictions-li-3' | translate }}</li>
      <li>{{ 'terms-component.content-restrictions-li-4' | translate }}</li>
      <li>{{ 'terms-component.content-restrictions-li-5' | translate }}</li>
      <li>{{ 'terms-component.content-restrictions-li-6' | translate }}</li>
      <li>{{ 'terms-component.content-restrictions-li-7' | translate }}</li>
    </ol>
    <p>{{ 'terms-component.content-restrictions-2' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-content' | translate }}</span>
    <p>{{ 'terms-component.content-content-1' | translate:corporation }}</p>
    <p>{{ 'terms-component.content-content-2' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-warranties' | translate }}</span>
    <p>{{ 'terms-component.content-warranties' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-liability' | translate }}</span>
    <p>{{ 'terms-component.content-liability' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-indemnification' | translate }}</span>
    <p>{{ 'terms-component.content-indemnification' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-severability' | translate }}</span>
    <p>{{ 'terms-component.content-severability' | translate }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-variation-terms' | translate }}</span>
    <p>{{ 'terms-component.content-variation-terms' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-assignment' | translate }}</span>
    <p>{{ 'terms-component.content-assignment' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-agreement' | translate }}</span>
    <p>{{ 'terms-component.content-agreement' | translate:corporation }}</p>
  </li>
  <li>
    <span class="h3">{{ 'terms-component.title-jurisdiction' | translate }}</span>
    <p>{{ 'terms-component.content-jurisdiction' | translate:corporation }}</p>
  </li>
</ol>
