.draft-footer {
    margin-top: 5px;
}

.tag-list {
    direction: rtl;
    margin-right: 0;
    padding-right: 0;
}

.draft-stats  {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}