<div *ngIf="draft" class="row draft-footer">
  <ul class="list-inline tag-list" *ngIf="draft.tags">
    <li *ngFor="let tag of draft.tags">
        <span class="label label-default">{{tag}}</span>
    </li>
  </ul>
  <ul class="list-inline draft-stats">
    <li>
      <a href="{{draft.uri}}" target="_blank">{{ 'draft-footer-component.source' | translate }}</a>
    </li>    
    <li>
      <i class="glyphicon glyphicon-thumbs-down"></i>
      <span class="badge badge-default">{{draft.fucks}}</span>
    </li>
    <li>
      <i class="glyphicon glyphicon-eye-open"></i>
      <span class="badge badge-default">{{draft.views}}</span>
    </li>    
    <li *ngIf="draft.related">
      <span>{{ 'draft-footer-component.related' | translate }} <b>{{draft.related}}</b></span>
    </li>
    <li>
      <span> {{ 'draft-footer-component.by' | translate }} <b>{{draft.createdBy}}</b> {{ 'draft-footer-component.created' | translate }} {{draft.createdAt| date: 'dd/MM/yyyy hh:mm'}}</span>
    </li>
  </ul>    
</div>