<div class="row">
    <div class="col-md-12" *ngIf="comment">
        <div class="comment">
            <span class="comment-quote">"</span>
            <p class="comment-content">{{comment.content}}</p>
            <div class="row">
                <ul class="list-inline comment-stats">
                    <li>
                      <a (click)="like()" [ngClass]="{'likeable': isLikeable}">
                          <i class="glyphicon glyphicon-heart"></i>
                          <span>{{comment.likes}}</span>
                      </a>
                    </li>
                    <li>
                        <a [routerLink]="['/comment', comment.id]">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span>{{comment.replies}}</span>
                        </a>
                    </li>
                    <li>
                      <span> {{ 'comment-entry-component.by' | translate }} <b>{{comment.createdBy}}</b> {{ 'comment-entry-component.created' | translate }} {{comment.createdAt| date: 'dd/MM/yyyy hh:mm'}}</span>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>
