@import "../../../less/colors.less";
@import "../../../less/variables.less";

.comment {
    margin-bottom: 5pt;   
    background-color: @panel-bg;
    border-radius: @panel-border-radius;
    padding: 2em 2em 0 2em;
    border: 1px solid @panel-default-border;
}

.comment-content {
    font-size: @font-size-small;
    font-family: @font-family-monospace;
}

.comment-stats {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}